* {
	margin: 0;
	padding: 0;
}

body {
	background-image: -webkit-radial-gradient(center, circle farthest-corner, #000021 0%, #00034F 100%);
}

main {
	margin: auto;
	background-image: -webkit-radial-gradient(center, circle farthest-corner, #363636 0%, #2E2E2E 100%);
	width: 900px;
}

nav {
	float: left;
	width: 900px;
	height: 20px;
	background: red;
}

nav ul {
	float: left;
	list-style: none;
}

nav ul li {
	float: left;
	width: 100px;
	height: 20px;
	background: green;
}

#product	{
	background-color: #439639;
	width: 99%;
	height: 75px;
	border: 5px solid black;
	border-radius: 5px;
	float: left;
	margin-top: 2px;
}

#category	{
	background-color: #eaaa00;
	width: 99%;
	height: 75px;
	border: 5px solid black;
	border-radius: 5px;
	float: left;
	margin-top: 2px;
}
h1	{
	font: 25px arial;
}
h2	{
	font: 20px arial;
}