* {
	margin: 0;
	padding: 0;
}

body {
	background-image: -webkit-radial-gradient(center, circle farthest-corner, #000021 0%, #00034F 100%);
}

main {
	margin: auto;
	background-image: -webkit-radial-gradient(center, circle farthest-corner, #363636 0%, #2E2E2E 100%);
	width: 900px;
}

nav {
	float: left;
	width: 900px;
	height: 20px;
	background: black;
}

nav ul {
	float: left;
	list-style: none;
}

nav ul li {
	float: left;
	width: 446px;
	height: 20px;
	background: green;
	border: 2px solid black;
}

#product	{
	background-color: #c0d5d8;
	width: 99%;
	height: 50px;
	border: 5px solid black;
	border-radius: 5px;
	float: left;
	margin-top: 2px;
}

#category	{
	background-color: #22586e;
	width: 99%;
	height: 50px;
	border: 5px solid black;
	border-radius: 5px;
	float: left;
	margin-top: 2px;
}
#sub	{
	width: 50%;
	height: 100%;
	float: left;
}
h1	{
	font: 25px arial;
}
h2	{
	font: 20px arial;
}
h3	{
	font: 35px arial;
}